@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <title>首頁</title>
</head>
<body>
    @*<div>
       
    </div>
    <script type="text/javascript">
        $(document).ready(() => {
            //進網頁先載入API
        });
        function login() {
            $.post("/API/MemberAPI/LoginV2",
                {
                    Account: $("#account").val(),
                    Password: $("#password").val()
                },
                (res) => {
                    if (res.ResultCode == 1)
                        // 導主頁
                        alert(res.Message);
                    else
                        alert(res.Message);
                }
            );
        }
    </script>*@
</body>
</html>