@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <title>IKKON</title>
</head>
<body>
    <div>
        <input type="button" value="登入頁" onclick="login()">
    </div>
    <script type="text/javascript">
        $(document).ready(() => {
            //進網頁先載入API
        });
        function login() {
            window.location.href = '/Home/Login';
        }
    </script>
</body>
</html>