@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <title>IKKON</title>
    <style>
        html {
            height: 100%;
            margin: 0;
        }

        body {
            font-family: Arial,"Microsoft JhengHei";
            background-color: #FCD4D5;
            height: 100%;
            margin: 0;
        }

        .login_background {
            width: 500px;
            height: 100%;
            background-color: #FFFFFF;
            margin: 0px auto;
        }

        .loginBox {
            padding-top: 35%;
        }

        .logo {
            font-size: 40pt;
            margin: auto;
            display: flex;
            justify-content: center;
            padding-top: 8%;
            padding-bottom: 3%;
            color: #f2a1a1;
        }

        .inputbox {
            width: 350px;
            height: 50px;
            background-color: #FFFFFF;
            color: #acacac;
            border-radius: 5px;
            margin: auto;
            margin-top: 3%;
        }

        .inputbox_text {
            font-size: 20pt;
            padding-left: 15px;
            line-height: 50px;
        }

        .btn_div {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-top: 20px;
        }

        .btn_loginPage {
            width: 350px;
            height: 40px;
            font-size: 15pt;
            border-radius: 5px;
            background-color: #F2A1A1;
            color: #FFFFFF;
            font-weight: 600;
        }

            .btn_loginPage:hover {
                background-color: #D68D8D;
            }

        .btn_singup {
            width: 130px;
            height: 50px;
            font-size: 15pt;
            border-radius: 5px;
            background-color: #F2A1A1;
            color: #FFFFFF;
            font-weight: 700;
        }

            .btn_singup:hover {
                border: 1px solid #FFFFFF;
            }

        .btn_login_text {
            color: #be5959;
            font-size: 18pt;
            text-align: center;
            line-height: 50px;
            font-weight: 800;
        }

        a {
            text-decoration: none;
        }

        input[type="text"] {
            height: 45px;
            border-radius: 5px;
            border: 1px solid #FCD4D5;
            font-size: 15pt;
            margin-top: 2px;
            outline: 0;
            padding-left: 15px;
        }

            input[type="text"]:focus {
                border: 1px solid #F2A1A1;
            }

        .input_login {
            width: 330px;
        }

        .input_sinup {
            width: 430px;
        }

        input[type="button"] {
            border: none;
        }

        /*POP背景遮罩*/
        .popLayer {
            display: none;
            background-color: #00000052;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        /*POP彈窗樣式*/
        .popBox {
            display: none;
            background-color: #FFFFFF;
            border: 1px solid #D68D8D;
            border-radius: 10px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }

        .signupStyle {
            width: 700px;
            height: 680px;
        }

        .topBar {
            height: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 8%;
        }

        .closeIcon {
            width: 50px;
            height: 50px;
            fill: #F2A1A1;
            position: absolute;
            right: 0px;
        }

            .closeIcon:hover {
                fill: #D68D8D;
            }

        .popTitle {
            color: #D68D8D;
            font-size: 25pt;
            font-weight: 700;
            position: absolute;
            padding-top: 35px;
        }

        .singupText {
            font-size: 16pt;
            color: #4E4E4E;
            position: relative;
            bottom: 50%;
            right: 5%;
            font-weight: 600;
        }

        .singupTextBackground {
            width: 90%;
            height: 70%;
            background-color: #ffe9e9;
            border-radius: 25px;
            position: relative;
            top: 20%;
        }

        .singupContent {
            display: flex;
            align-items: center;
            margin: 3% 10%;
        }

        .singupInputText {
            width: 100px;
            height: 30px;
        }

        .lineStyle {
            width: 80%;
            height: 1px;
            background-color: #dadada;
            position: relative;
            left: 10%;
        }

        .forgotPassword {
            display: flex;
            justify-content: center;
        }

        .forgotPasswordWindow {
            width: 300px;
            height: 300px;
        }

        .btn_forgotPassword {
            background: none;
            color: #F2A1A1;
            font-size: 14pt;
            margin-top: 3%;
        }

            .btn_forgotPassword:hover {
                color: #D68D8D;
            }

        .Error {
            width: 300px;
            height: 150px;
        }

        .btn_Error {
            width: 130px;
            height: 50px;
            font-size: 15pt;
            border-radius: 5px;
            background-color: #F2A1A1;
            color: #FFFFFF;
            font-weight: 700;
        }
            .btn_Error:hover {
                border: 1px solid #FFFFFF;
            }

        .ErrorText {
            display: flex;
            justify-content: center;
            margin-top: 10%;
            font-size: 15pt;
            color: #be5959;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="login_background">
        <div class="loginBox">
            <a class="logo">I K K O N</a>
            <div class="inputbox">
                <input class="input_login" type="text" placeholder="請輸入帳號" id="account" autocomplete="off" maxlength="20">
            </div>
            <div class="inputbox">
                <input class="input_login" type="text" placeholder="請輸入密碼" id="password" autocomplete="off" maxlength="100">
            </div>

            <!--忘記密碼-->
            <div id="forgotPassword" class="forgotPassword">
                <input class="btn_forgotPassword" type="button" value="忘記密碼?" onclick="pop('forgotPassword', true)">
                <div class="popLayer"></div>
                <div class="popBox forgotPasswordWindow">
                    <div class="topBar">
                        <div class="popTitle"><a>忘記密碼</a></div>
                        <div onclick="pop('forgotPassword', false)"><img class="svg closeIcon" src="~/Image/Close.svg"></div>
                    </div>
                </div>
            </div>

            <!--登入-->
            <div class="btn_div">
                <div><input class="btn_loginPage" type="button" value="登入" onclick="login()"></div>
            </div>
            <div id="loginError">
                <div class="popLayer"></div>
                <div class="popBox Error">
                    <a class="ErrorText">帳號或密碼錯誤</a>
                    <div class="btn_div">
                        <input class="btn_Error" type="button" value="確認" onclick="pop('loginError', false)">
                    </div>
                </div>
            </div>

            <!--註冊-->
            <div class="btn_div" id="signup">
                <div><input class="btn_loginPage" type="button" value="新會員註冊" onclick="pop('signup', true)"></div>
                <div class="popLayer"></div>
                <div class="popBox signupStyle">
                    <div class="topBar">
                        <div class="popTitle"><a>新會員註冊</a></div>
                        <div onclick="pop('signup', false)"><img class="svg closeIcon" src="~/Image/Close.svg"></div>
                    </div>
                    <div class="singupContent">
                        <div class="singupInputText">
                            <div class="singupTextBackground">
                                <a class="singupText">會員名稱</a>
                            </div>
                        </div>
                        <div>
                            <input class="input_sinup" type="text" placeholder="請輸入姓名" id="name" autocomplete="off" maxlength="20">
                        </div>
                    </div>
                    <div class="singupContent">
                        <div class="singupInputText">
                            <div class="singupTextBackground">
                                <a class="singupText">會員帳號</a>
                            </div>
                        </div>
                        <div>
                            <input class="input_sinup" type="text" placeholder="請輸入帳號" id="singup_account" autocomplete="off" maxlength="20">
                        </div>
                    </div>
                    <div class="singupContent">
                        <div class="singupInputText">
                            <div class="singupTextBackground">
                                <a class="singupText">會員密碼</a>
                            </div>
                        </div>
                        <div>
                            <input class="input_sinup" type="text" placeholder="請輸入密碼" id="singup_password" autocomplete="off" maxlength="100">
                        </div>
                    </div>
                    <div class="singupContent">
                        <div class="singupInputText">
                            <div class="singupTextBackground">
                                <a class="singupText">電子郵件</a>
                            </div>
                        </div>
                        <div>
                            <input class="input_sinup" type="text" placeholder="請輸入有效電子郵件" id="mail" autocomplete="off" maxlength="100">
                        </div>
                    </div>
                    <div class="lineStyle"></div>
                    <div class="btn_div">
                        <div><input class="btn_singup" type="button" value="註冊" onclick="Singup()"></div>
                    </div>
                </div>
            </div>
            <div id="supingError">
                <div class="popLayer"></div>
                <div class="popBox Error">
                    <a class="ErrorText">資料未填寫完整</a>
                    <div class="btn_div">
                        <input class="btn_Error" type="button" value="確認" onclick="pop('supingError', false)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*SVG元素控制*/
        jQuery('img.svg').each(function () {
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function (data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
                if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                    $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                }

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });

        $(document).ready(() => {
            //進網頁先載入API
        });

        function login() {
            $.post("/API/MemberAPI/LoginV2",
                {
                    Account: $("#account").val(),
                    Password: $("#password").val()
                },
                (res) => {
                    if (res.ResultCode == 1)
                        // 導主頁
                        window.location.href = "/Home/Index";
                    else
                        pop('loginError', true);
                }
            );
        };

        function Singup() {
            if ($("#singup_account").val() == null || $("#singup_account").val() == "") {
                //alert("您尚未填寫帳號!");
                pop('supingError', true);
            } else if ($("#singup_password").val() == null || $("#singup_password").val() == "") {
                //alert("您尚未填寫密碼!");
                pop('supingError', true);
            } else if ($("#name").val() == null || $("#name").val() == "") {
                //alert("您尚未填寫姓名!");
                pop('supingError', true);
            } else if ($("#mail").val() == null || $("#mail").val() == "") {
                //alert("您尚未填寫mail!");
                pop('supingError', true);
            }
            $.post("/API/MemberAPI/Singup",
                {
                    Account: $("#singup_account").val(),
                    Password: $("#singup_password").val(),
                    Name: $("#name").val(),
                    //PasswordConfirm: $("#passwordConfirm").val(),
                    Mail: $("#mail").val()
                    //VerificationCode: $("#verificationCode").val()
                },
                (res) => {
                    if (res.ResultCode == 1)
                        // 導主頁
                        alert(res.Message);
                    //window.location.href = '/Home/Index';
                    else
                        alert(res.Message);
                }
            );
        };
        /*POP*/
        function pop(containerID, ispop) {
            var popBox = $('#' + containerID + '> .popBox')[0];
            var popLayer = $('#' + containerID + '> .popLayer')[0];
            popBox.style.display = popLayer.style.display = ispop ? "block" : "none";
        }
    </script>
</body>
</html>