
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>會員登入</title>
    <style>
        body {
            font-family: Arial,'Microsoft JhengHei';
            background-color: #d68d8d;
        }

        .loginb_backgtound {
            width: 30%;
            height: 40%;
            background: rbga(255,255,255,0.5);
            border: 2px solid #FFFFFF;
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="loginb_backgtound"></div>
</body>
</html>

