@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <title>會員登入</title>
    <style>
        body {
            font-family: Arial,'Microsoft JhengHei';
            background-color: #d68d8d;
        }

        .login_backgtound {
            width: 500px;
            height: 380px;
            background-color: #FFFFFF52;
        }

        .login_border {
            width: 500px;
            height: 380px;
            margin: auto;
            margin-top: 15%;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
        }

        h1 {
            font-size: 40pt;
            margin: auto;
            padding-left: 30%;
            padding-top: 8%;
            padding-bottom: 3%;
            color: #a21717;
        }

        .inputbox {
            width: 350px;
            height: 50px;
            background-color: #FFFFFF;
            color: #acacac;
            border-radius: 10px;
            margin: auto;
            padding-left: 15px;
            margin-top: 3%;
        }

        .inputbox_text {
            font-size: 20pt;
            padding-left: 15px;
            line-height: 50px;
        }

        .btn_login {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-top: 20px;
        }

        .btn_login_text {
            color: #be5959;
            font-size: 18pt;
            text-align: center;
            line-height: 50px;
            font-weight: 800;
        }

        a {
            text-decoration: none;
        }

        input[type="text"] {
            width: 330px;
            height: 45px;
            border-radius: 10px;
            border: none;
            font-size: 15pt;
            margin-top: 2px;
            outline: 0;
        }

        input[type="button"] {
            width: 130px;
            height: 50px;
            font-size: 15pt;
            border: none;
            border-radius: 10px;
            background-color: #FFFFFF;
            color: #be5959;
            font-weight: 700;
        }

            input[type="button"]:hover {
                border: 1px solid #be5959;
            }
    </style>
</head>
<body>
    <div class="login_border">
        <div class="login_backgtound">
            <h1>L O G O</h1>
            <div class="inputbox">
                <input type="text" placeholder="請輸入帳號" id="account">
            </div>
            <div class="inputbox">
                <input type="text" placeholder="請輸入密碼" id="password">
            </div>
            <div class="btn_login">
                <input type="button" value="登入" onclick="login()">
            </div>
            <div class="btn_login">
                <input type="button" value="新會員註冊" onclick="Singup()">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(() => {
            //進網頁先載入API
        });
        function login() {
            $.post("/API/MemberAPI/LoginV2",
                {
                    Account: $("#account").val(),
                    Password: $("#password").val()
                },
                (res) => {
                    if (res.ResultCode == 1)
                        // 導主頁
                        //alert(res.Message);
                        window.location.href = '/Home/Index';
                    else
                        alert(res.Message);
                }
            );
        }
        function Singup() {
            window.confirm("新會員註冊");
            //$.post("/API/MemberAPI/Singup",
            //    {
            //        Account: $("#account").val(),
            //        Password: $("#password").val(),
            //        PasswordConfirm: $("#passwordConfirm").val(),
            //        Mail: $("#mail").val(),
            //        VerificationCode: $("#verificationCode").val()
            //    },
            //    (res) => {
            //        if (res.ResultCode == 1)
            //            // 導主頁
            //            alert(res.Message);
            //            //window.location.href = '/Home/Index';
            //        else
            //            alert(res.Message);
            //    }
            //);
        }
    </script>
</body>
</html>